
footer{
    background-color: #105652;
    width: 100%;
    padding: 1% 0;

}
.footer{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
     display: flex;
    justify-content: space-between;
}

.footer h3{
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.sobre{
    width: 210px;
    text-align: left;
}

.sobre p{
    padding-top:10px ;
}

.reservado{
    text-align: center;
}

.contato{
    margin-left: auto;
    height: 100px;
}

.contato p{
    color: #0f8b83;
    position: relative;
    top: 30%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}
.redes{
    margin-left: auto;
    text-align: right;
    height: 100px
}

.icones-footer{
    text-align: center;
}

.fab{
    position: relative;
    color:#0F8B83;
    top: 25px;
    font-size: 30px;
}

.fa-instagram{
    padding: 0 10px;
}

@media screen and (max-width:500px){
    footer{
        display: flex;
        flex-direction: column;
    }
}