*{
    padding: 0;
    margin: 0;
}
/* Header */
header{
    background: #105652;
    padding: 20px 0;
    width: 100%;
}

header .logo{
    font-size: 24px;
    font-family: 'Roboto', serif;
    color: white;
    display: flex;
}

.logo p{
    padding-left: 10px;
    padding-top: 16px;
}

.logo img{
    width: 41px;
}

.mobile{
    display: none;
}

.header{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

nav.desktop ul{
    position: relative;
    top: 18px;
    list-style: none;
}

nav.desktop li{
    font-weight: 300;
    font-size:20px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: #25B1A8;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
}

html,body{
    height: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}
.w33{
    width: 33%;
}


.distanciamento{
    padding:17px 0;
}



@media screen and (max-width:800px){
    nav.desktop li{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile ul{
        display: none;
        list-style: none;
    }
    .botao-menu-mobile i{
        padding-top: 15px;
        font-size: 35px;
        color: white;
    }
    .botao-menu-mobile{
        cursor: pointer;
    }

    .center-hd{
        width: 90%;
        margin: auto;
    }

    .mobile a{
        font-family: 'Roboto', serif;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

}