*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.center{
    max-width: 1200px;
    margin: auto;
}

.cartas-bem-vindo{
    width: 100%;
}

.cartas-bem-vindo img{
    width: 70%;
}

.bem-vindo{
    width: 100%;
    padding: 107px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bem-vindo-texto{
    margin: auto;
}

.bem-vindo-texto h1{
font-family: 'Palanquin Dark', sans-serif;
line-height: 100%;
font-size: 93px;
max-width: 541px;
font-weight: 600;
color: #0F8B83;
padding-bottom: 10px;
}

.bem-vindo-texto p{
    max-width: 521px;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
}

/* Missoes */
.atividade{
    padding: 111px 0;
    background-color: #25B1A8;
}
.missao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.missao-texto h3{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 112%;
    color: #4EFCF1;
}

.missao-texto h2{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 112%;
    color: white;
}

.missao-texto p{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    max-width: 585px;
    line-height: 172%;
    padding-top: 16px;
    color: white;
    padding-bottom: 60px;
}

.missao-texto button{
    font-size: 17px;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #0F8B83;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 0 #0A5B56;
    padding: 10px 48px;
    cursor: pointer;
}

.missao-texto button:hover{
    background-color: #188780;
    box-shadow: none;
}

.missao img{
    max-width: 550px;
    width: 100%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}


/* Cartas */
.cartas{
    padding:94px 0;
}

.cards-texto{
text-align: center;
}

.cards-texto h3{
    color: #25B1A8;
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 40px;
    line-height: 112%   ;
    font-weight: 400;
}

.cards-texto h2{
    font-size: 55px;
    line-height: 112%;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.cards-texto h4{
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 50px;
}


.barra{
    width: 181px;
    height: 10px;
    background-color: #25B1A8;
    margin: auto;
    border:none;
}

.campo-cards{
    display: flex;
    flex-direction: row;
    height: 60vh;
}

#cards{
    display: flex;
    width: 80%;
    position: relative;
    max-width: 800px;;
    height: 100%;

}

#cards img{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    height:100%;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1600ms;
}

#cards img.selected{
    opacity: 1;
}

.cartas-texto{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    max-width: 585px;
    line-height: 172%;
    padding-top: 16px;
    padding-bottom: 60px;
}

.ver-cartas{
    padding: 30px 0;
}

.ver-cartas button{
    font-size: 17px;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #0F8B83;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 0 #0A5B56;
    padding: 10px 48px;
    cursor: pointer;
}

.ver-cartas button:hover{
    background-color: #188780;
    box-shadow: none;
}

/* Ranking */

section.ranking{
    background-color: #EDEDED;
    padding: 112px 0;
}

div.ranking{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-ranking{
    max-width: 590px;
    padding-bottom:30px;
}

.texto-ranking h3{
    font-family: 'Palanquin Dark', sans-serif;
    line-height: 112%;
    font-weight: 400;
    font-size: 53px;
    color: #25B1A8;
}

.texto-ranking h2{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    line-height: 112%;
    text-transform: uppercase;
    font-size: 55px;
}

.texto-ranking p{
    padding:50px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 172%;
    letter-spacing: 5%;
}

.texto-ranking input{
    border-radius: 10px;
    border: 1px solid #CDCDCD;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 10px 0;
}


.texto-ranking button{
    font-size: 17px;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #0F8B83;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 0 #0A5B56;
    padding: 8px 20px;
    cursor: pointer;
}

.texto-ranking button:hover{
    box-shadow: none;
}

div.ranking img{
    width: 100%;
}

.pontuacao-usuario{
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #DADADA;
    background-color: white;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    font-size: 20px;
    max-width: 590px;
    text-transform: uppercase;
    display: none;
}
.pontuacao-usuario hr{
    border:0.1px solid #DADADA;
}

/* Controle */

div.controle{
    padding: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controle-texto{
    max-width: 581px;
}

.controle img{
    width: 100%;
}

.controle h3{
color: #25B1A8;
font-size: 53px;
font-family: 'Palanquin Dark', sans-serif;
line-height: 112%;
font-weight: 400;
}
.controle h2{
    font-size: 55px;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    line-height: 112%;
    text-transform: uppercase;
}

.controle p{
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    line-height: 172%;
    letter-spacing: 5%;
    padding: 50px 0;
}

.icones-controle{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    text-align: center;
}

.icones-controle .fas, .icones-controle .far{
    font-size: 60px;
}

.icones-controle p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}

@media screen and (max-width:700px){
    .center{
        width: 90%;
    }


    .cartas-bem-vindo img{
        width: 100%;
    }
    /* Bem-vindo */
    .bem-vindo{
        padding: 107px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bem-vindo-texto h1{
        max-width: 278px;
        text-align: center;
        margin: auto;
        font-size: 48px;
    }
    .bem-vindo-texto p{
        text-align: center;
    }
    /* Missao */
    .missao{
        display: flex;
        flex-direction: column;
    }

    .missao img{
        margin-top: 20px;
    };

    /* Cartas */

    .cards{
            display: flex;
            flex-direction: row;
    }
    #cards{
        width: 100%;
        height: 70vh;
        /* margin: auto; */
    }

    #cards img{
        height:auto;
        width: 80%;
    }

    .campo-cards{
        display: flex;
        flex-direction: column;
        height:200%;
    }
    
    
    /* Ranking */
    div.ranking {
        flex-direction: column;
    }
    div.ranking {
        flex-direction: column;
    }


    /* Controle */
    div.controle{
        padding: 90px 0;
        flex-direction: column;
    }

    .inter{
        height: 15px;
    }
    

    .icones-controle .fas, .icones-controle .far{
        font-size: 50px;
    }
    
    .icones-controle p{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 15px;
    }

}