@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Palanquin+Dark:wght@600&family=Paytone+One&family=Roboto&display=swap');  

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
height: 100%;
}

div.formulario{
    /* margin: auto;
    width: 40%;
    top: -50%; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%); */
    transform: translate(-50% , -50%);
    left: 50%;
    max-width: 1280px;
    text-align: center;
    position: absolute;
    top: 50%;

}


form img{
width: 64px;
text-align: center;
margin: 0 auto;
}

form{
    border-radius: 10px;
    border: 3px solid #0F8B83;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form h1{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 23px;
    width: 498px;
    margin: auto;
    text-align: center;
}

form label{
    text-align: left;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    padding:20px 0;
}

form input[type='email'], form input[type='password']{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(15, 139, 131, 0.44);
    font-family: 'Roboto', sans-serif;
}
.button{
    padding: 40px;
    margin: auto;
}

form input[type='submit']{
width: 285px;
height: 45px;
font-family: 'Roboto', sans-serif;
font-size: 24px;
border-radius: 10px;
background-color: #0F8B83;
border: none;
}

form p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    text-align: center;
}