@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    max-width: 1200px;
    margin: auto;
}

div.historia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 120px 0;
}

.historia-texto .title{
    text-align: center;
    font-size: 55px;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 600;
    max-width: 540px;
}
.historia-texto .title h1{
    line-height: 123%;
}

.historia-texto .title h2{
    line-height: 123%;
    color: #0F8B83;
}

p{
    padding-top: 45px;
    text-align: left;
    font-size: 20px;
    max-width: 546px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
    
.historia-img img{
    max-width: 596px;
    box-shadow:  0 4px  4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
}
/* inspire-se */
.inspire-se{
    background: #25B1A8;
    padding: 70px 0;
}

.inspiracao .title h2{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 50px;
    max-width: 1141px;
    padding-bottom: 50px;
}

.lista h3{
    text-align: left;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 500;
    font-size: 45px;
    max-width: 496px;
    font-weight: 500;
    padding-bottom: 40px;
}

.lista li{
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 5px;
    list-style: decimal inside ;
}

/* fim lista */

/* plataforma */
div.plataforma{
    padding: 100px 0;
}

.titulo-plataforma{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.conteudo-plataforma{
    display: flex;
    justify-content: space-between;
}

.img-plataforma img{
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.texto-plataforma{
    line-height: 160%;
    font-size: 25px;
    max-width: 546px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}



/* Fim plataforma */

/* como-ajudamos */
section.como-ajudamos{
    background-color: #EDEDED;
}

div.texto-como-ajudamos{
    padding: 100px 0;
}

.titulo-como-ajudamos{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
    font-size: 50px;
    width: 100%;
}

.titulo-como-ajudamos h3{
    padding-left: 20px;
    color: #25B1A8;
}

.texto-como-ajudamos p{
    padding: 50px 0;
    font-size: 27px;
    line-height: 138%;
    max-width: 1125px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width:700px){
    .center{
        width: 90%;
    }

    div.historia{
        display: flex;
        flex-direction: column;
    }
    
    .historia-img{
     padding-top: 20px;
    }

    .historia-texto .title{
        text-align: center;
        font-size: 45px;
        font-family: 'Palanquin Dark', sans-serif;
        font-weight: 600;
        max-width: 540px;
    }

    .inspiracao .title h2{
        font-size: 35px;
    }

    .lista h3{
        text-align: left;
        font-family: 'Palanquin Dark', sans-serif;
        font-weight: 500;
        font-size: 30px;
        max-width: 496px;
        padding-bottom: 40px;
    
    }

    .titulo-plataforma{
        font-size: 33px;
    }

    .conteudo-plataforma{
        display: flex;
        flex-direction: column;
    }

    .img-plataforma{
     padding: 10px;
    }

    .titulo-como-ajudamos{
        font-family: 'Palanquin Dark', sans-serif;
        font-weight: 700;
        font-size: 26px;
        max-width: 100%;
    }
    
}